* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    font-size: 1.5rem;
}

main {
    width: 80%;
    margin: 0 auto;
}

header, main div {
    display: flex;
}

main div {
    justify-content: space-between;
}

header {
    width: 100%;
    align-items: baseline;
    justify-content: space-evenly;
}

#logo {
    flex-direction: column;
}

#logo div {
    width: 100%;
    justify-content: space-between;
}

#logo {
    height: 80vh;
    border: 1px dashed black;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

